.tab-container {
    display: flex;
}

.tab-buttons {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
}

.tab-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #81aacc;
    border-bottom: none;
}

.tab-button.active {
    background-color: #4e81ac;
}

.tab-content {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}

.tab {
    display: none;
}
.tab.active {
    display: block;
}
.tabs{
    display: grid;
    grid-template-columns: 30% 70%;
}
.contentoftabs{
    border: 3px solid #81aacc;
    padding: 4px;
}
.dropdown{
    display:inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    border: 1px black solid;
    margin-top: 1px;
    display: block;
    cursor: pointer;
}

